@use '../../styling/media-queries' as mq;

.TechSkillsComponent {
    grid-area: tech;
    margin-bottom: 1rem;

    @include mq.from-large(){
        margin-bottom: 2rem;
    }
}
@media print {
    .edit-icon {
        display: none;
    }
}